/* layout */
#bodypadding .a-wrap {
  position: relative;
  z-index: 999990;
}
#bodypadding .a-wrap::after {
  display: block;
  content: "";
  height: 20px;
  width: 100px;
}
.screen-button {
  position: relative;
  z-index: 999991;
}
