/* layout */

#timer_table { position: relative; }
#timer_table > #primary-ad { position: absolute; }
#primary-ad {
  transition: top 0.7s ease-out;
  top: calc(-90px - 23px);
  left: calc((100% - 728px) / 2);
  width: 728px;
}
.ad-content-wrapper {
  height: 90px;
}

/* make space for the ad */
#ad_padder {
  transition: height 0.7s ease-out;
  height: 130px;
}

/* ad remover layout */
#primary-ad {
  position: relative;
}
#primary-ad > .ad_remover {
  position: relative;
  width: 100px;
  left: calc((100% - 100px) / 2);
}
/* ensure that ad remover always has 21px height */
.ad_remover {
  height: 21px;
  display: flex;
  align-item: center;
}

/* ensure that ad doesn't creep out */
.ad-content-wrapper {
  position: relative;
  overflow: hidden;
}
.ad-content-wrapper .ad_mobile,
.ad-content-wrapper .ad_desktop {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
}



/* function */

html.show_ad #primary-ad {
  top: 0;
}
html:not(.show_ad) #ad_padder {
  height: 0px !important;
}



/* style */

:root {
  --ad-border-color: rgba(200,200,200,0.7);
  /*
  --ad-border-color: #ccc;
  --ad-border-color: rgba(0,0,0,0.07);
  --ad-border-color: #ededed;
  */
}

/* ad gray border */
.ad-content-wrapper {
  border: 1px solid var(--ad-border-color);
  border-top-width: 0;
  box-sizing: content-box !important;
}

/* remove button */
.ad_remover {
  border-radius: 0 0 10px 10px;
  background-color: var(--ad-border-color);
  padding: 2px 10px;
  display: inline-block;
}
.ad_remover {
  text-decoration: none;
  color: #333;
  text-shadow: none;
}

