/* layout */
@media (max-width:727px) {
  :root {
    --ad-width: 320px;
    --ad-height: 50px;
  }
}
@media (min-width:728px){
  :root {
    --ad-width: 728px;
    --ad-height: 90px;
  }
}
:root {
  --ad-remover-height: 24px
}

.ad-content-wrapper {
  width: var(--ad-width);
  height: var(--ad-height);
  max-width: 100vw;
  margin: auto;
}

#secondary-ad {
  margin: auto;
  transition: height 0.7s ease-out;
  height: calc( var(--ad-height) + var(--ad-remover-height) );
  overflow: hidden;
}

/* ad remover layout */
.ad_remover {
  width: 105px;
  margin: auto;
  box-sizing: border-box;
  height: var(--ad-remover-height);
  display: flex;
  align-item: center;
}

/* ensure that ad doesn't creep out */
.ad-content-wrapper {
  position: relative;
  overflow: hidden;
}
.ad-content-wrapper .ad_desktop,
.ad-content-wrapper .ad_mobile {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
}


/* function */

html:not(.show_ad) #secondary-ad {
  height: 0;
}

@media (min-width:728px){
  .ad_mobile {
    display: none !important;
  }
}
@media (max-width:727px) {
  .ad_desktop {
    display: none !important;
  }
}


/* style */

:root {
  --ad-border-color: rgba(200,200,200,0.7);
}

/* ad gray border */
.ad-content-wrapper {
  border: 1px solid var(--ad-border-color);
  border-top-width: 0;
  box-sizing: content-box !important;
}

/* remove button */
.ad_remover {
  border-radius: 0 0 10px 10px;
  background-color: var(--ad-border-color);
  padding: 2px 10px;
}
.ad_remover {
  text-decoration: none !important;
  color: #333;
  text-shadow: none;
}











/* layout */

#timer_table { position: relative; }
#timer_table > #primary-ad { position: absolute; }
#primary-ad {
  transition: top 0.7s ease-out;
  top: calc( -1 * ( var(--ad-height) + var(--ad-remover-height) ) );
  left: calc((100% - var(--ad-width)) / 2);
}
html.show_ad #primary-ad {
  top: 0;
}

/* make space for the ad */
#ad_padder {
  transition: height 0.7s ease-out;
  height: 130px;
}
html:not(.show_ad) #ad_padder {
  height: 0px !important;
}





