html {
  overflow-x: hidden;
}

#auto_hide_scrollarea {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: width .3s linear;
}
#auto_hide_scrollarea {
  transition: width .3s linear;
}
#timer_table {
  transition: height .3s linear;
}
html.inactive_state.is_on_top.scroll-bar-width_is_available #auto_hide_scrollarea,
html.inactive_state.is_on_top.scroll-bar-width_is_available#auto_hide_scrollarea
{
  width: calc(100vw + var(--scroll-bar-width));
}
