/* more_panel layout and background */

#more_panel {
  --header-height: 110px;
}
#more_panel {
  background-color: #373a4a;
  color: #ddd;
  width: 100vw;
  epadding-top: var(--header-height);
}
#more_panel:before {
  content: "";
  display: block;
  height: var(--header-height);
  /*
  position: absolute;
  top: 0;
  left: 0;
  */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px;
}
#more_panel:before,
#more_panel_jumper:before {
  background-image: url(./cog.svg);
}

#more_panel {
  padding-bottom: 40px;
}

/* more_panel jumper */

#more_panel_jumper > *,
#more_panel_jumper:before,
#more_panel_jumper:after {
  vertical-align: middle;
}
#more_panel_jumper:before {
  position: relative;
  top: -1px;
  background-repeat: no-repeat;
  background-position: 0px;
  content: "";
  padding-left: 28px;
  font-size: 1.25em;
}
#more_panel_jumper:after { content: "Settings"}
html.de #more_panel_jumper:after { content: "Einstellungen"}
html.fr #more_panel_jumper:after { content: "Réglages"}





/* more_panel content */


/*
body::-webkit-scrollbar {
  display: none;
}
*/

#more_panel input[type='text']
{
  font-size: 80%;
  padding: 1px 3px;
  margin-left: 3px;
}
#more_panel input[type='text']{
  border: 1px solid rgba(160,160,160,.7);
  color: #333;
  background-color: #ccc;
}
#more_panel ::-webkit-input-placeholder {
  color: #666;
}
#more_panel :-moz-placeholder {
  color: #666;
}




.center_content {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 15px;
}
.center_content > * {
  margin: 0 15px;
}
.more_panel_text_input {
   width: 200px;
}
#more_panel a {
  text-decoration: underline;
}





.share_button {
  display: inline-block;
}
.share_button:not(:hover) {
  filter: grayscale(1) opacity(0.7);
}
.share_button {
  transition: all .5s ease-in-out;
}


#tweet_wrapper {
  width: 60px;
  height: 20px;
  overflow: hidden;
  opacity: 0;

  position: relative;
  top: 4px;
}



#more_panel ul {
  display: inline-block;
  text-align: left;
  margin-top: 0;
}
#more_panel h3 {
 margin-top: 0;
}


#more_panel button {
  font-size: 0.75em;
  padding: 4px 10px;
  padding-left: 7px;
}
#more_panel button:before {
  padding-left: 19px;
}






