.pretty_scroll_area__parent {
  overflow-x: hidden;
}
.pretty_scroll_area__parent > .pretty_scroll_area {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: width .3s linear;
}
.pretty_scroll_area__parent > .pretty_scroll_area.hide_scroll {
  width: calc(100vw + var(--scroll-bar-width));
}
